<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MyBatis 3 Mapper//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offinity.mapper.LeaveMapper">


<select id="selectEmployeeById" resultType="com.offinity.dto.Employee">
	SELECT * FROM employee_info
		where employee_id = #{employeeId};
</select>

<select id="selectLeaveRequest" resultType="com.offinity.dto.LeaveRequest">
    SELECT
        ei.employee_id,
        ei.employee_date_of_join,
        lr.request_id,
        lr.request_date,
        lr.start_date,
        lr.end_date,
        lr.leave_days,
        lr.reason,
        lr.status,
        lr.approval_comment,
        lr.updatable,
        lr.cancellable,
        lr.leave_type,
        lr.approver_id
    FROM employee_info ei
    	LEFT JOIN leave_requests lr ON ei.employee_id = lr.employee_id
    WHERE ei.employee_id = #{employeeId}
</select>

<select id="getEmployeeByDepartment" resultType="com.offinity.dto.Employee">
	SELECT * FROM employee_info
		where employee_department = #{employeeDepartment};
</select>

<insert id="createLeaveRequests" parameterType="com.offinity.dto.LeaveRequest" useGeneratedKeys="true" keyProperty="requestId">
    INSERT INTO leave_requests(
        employee_id,
        request_id,
        request_date,
        start_date,
        end_date,
        leave_days,
        reason,
        status,
        approval_comment,
        updatable,
        cancellable,
        leave_type,
        approver_id
    )
    VALUES (
		#{employeeId},
        #{requestId},
        #{requestDate},
        #{startDate},
        #{endDate},
        #{leaveDays},
        #{reason},
        #{status},
        #{approvalComment},
        #{updatable},
        #{cancellable},
        #{leaveType},
        #{approverId}	
	);
</insert>


<update id="updateLeaveRequest" parameterType="com.offinity.dto.LeaveRequest">
    UPDATE leave_requests
    SET
        approver_id = #{approverId},
        leave_type = #{leaveType},
        request_date = #{requestDate},
        start_date = #{startDate},
        end_date = #{endDate},
        leave_days = #{leaveDays},
        reason = #{reason}
    WHERE request_id = #{requestId}
</update>

<delete id="deleteLeaveRequest" parameterType="String">
    DELETE FROM leave_requests WHERE request_id = #{requestId}
</delete>


</mapper>


